.header-store {
    color: white; 
    overflow: hidden;
    margin-bottom: 138px;
    padding-left: 60px;
}

.header-store > .title {
    font-family: Arial, 'Roboto', sans-serif;
    font-size: 40px;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
}

.header-store [type="search"] {
    background-color: transparent;
    margin-right: 65px;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: Arial, 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    width: 358px;
    padding: 8px;
}

.header-store [type="search"]::placeholder {
    color: #fff;
}

.header-store > .navigation {
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 21px;
    float: right;
}

.header-store .action {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-right: 60px;
    padding-bottom: 10px;
    position: relative;
}

.header-store .action:after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform 200ms linear;
}

.header-store .action:hover:after {
    transform: scale(1);
}

.header-store .action.-last {
    margin-right: 0px;
}

@media (max-width: 1410px) {
    .header-store {
        padding-right: 60px;
    }
}

@media (max-width: 1235px) {
    .header-store > .title {
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }

    .header-store > .navigation {
        float: none;
        text-align: center;
    }
}

@media (max-width: 960px) {
    .header-store {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
    }

    .header-store [type="search"] {
        display: none;
    }
}

@media (max-width: 660px) {
    .header-store {
        margin-bottom: 30px;
    }
}


@media (max-width: 532px) {
    .header-store .action {
        margin-right: 30px;
    }
}

@media (max-width: 472px) {
    .header-store .action {
        margin-right: 15px;
    }
}

@media (max-width: 382px) {
    .header-store {
        padding-left: 16px;
        padding-right: 16px
    }

    .header-store .action {
        margin-right: 8px;
    }
}

@media (max-width: 340px) {
    .header-store > .navigation {
        display: none;
    }
}