.header-store {
    color: white; 
    overflow: hidden;
    margin-bottom: 138px;
    padding-left: 60px;
}

.header-store > .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    float: left;
    text-transform: uppercase;
}

.header-store > .search {
    float: right;
    margin-right: 65px;
}

.header-store .search .search-bar {
    width: 358px;
    height: 24px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}

::placeholder {
    color: #fff;
    font-size: 20px;
    padding-bottom: 8px;
}

.header-store > .navigation {
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 21px;
    float: right;
}

.header-store .action {
   text-decoration: none;
   color: inherit;
   margin-right: 60px;
}

.header-store .action.-last {
    margin-right: 0px;
}
