.photo-product {
    display: inline-block;
    background-color: #fff;
    height: 554px;
    vertical-align: middle;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    margin-right: 156px;
    padding-left: 105px;
    box-shadow: 0 0 39px 0 rgba(50, 50, 50, 0.36);
    position: relative;
}

.photo-product::before {
    content: '';
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -20;
    transform: translateX(-100%);
}

@media (max-width: 1425px) {
    .photo-product {
        margin-right: 140px;
    }
}

@media (max-width: 1410px) {
    .photo-product {
        display: block;
        margin-right: 0;
        margin-bottom: 30px;
        border-radius: 0;
        text-align: center;
        padding-left: 0;
    }
}

@media (max-width: 660px) {
    .photo-product {
        height: auto;
        padding-left: 0;
    }
}

@media (max-width: 500px) {
    .photo-product > .photo {
        width: 100%;
    }
}