.photo-product {
    display: inline-block;
    background-color: #fff;
    height: 554px;
    vertical-align: middle;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    margin-right: 156px;
    padding-left: 105px;
}

@media (max-width: 1425px) {
    .photo-product {
        margin-right: 140px;
    }
}

@media (max-width: 1410px) {
    .photo-product {
        display: block;
        margin-right: 0;
        margin-bottom: 30px;
        border-radius: 0;
        text-align: center;
    }
}

@media (max-width: 660px) {
    .photo-product {
        height: auto;
    }

    .photo-product > .photo {
        width: 100%;
    }
}