header {
    background-color: #e24647;
    color: white; 
    overflow: hidden;
    margin: 300px 115px 50px;
    padding: 55px 60px 95px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    float: left;
}

nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    float: right;
}

nav a {
   text-decoration: none;
   color: inherit;
   padding: 55px 60px;
}

button {
    width: 199px;
    height: 60px;
    background-color: #252c41;
    border: solid 2px #252c41;
}
 button a {
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     text-decoration: none;
 }